 :root {
  --midnight: #260e5f;
  --blue: #5aa2e9;
  --border-radius: .3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  color: black;
  line-height: 1.5;
  font-size: 16px;
}

h2 {
  font-weight: 700;
  margin: 0;
  color: black;
  line-height: 1.25;
}
 
.title {
  color: white;
  text-align: center;
}

.subtitle {
  color: white;
  text-align: center;
  font-size: 1.5rem
}

.btn {
  text-decoration:none;
  color: white;
  border: none;
  outline: none;
  background-color: var(--blue);
  box-shadow: 3px 3px black;
}

.hero {
  background-color: var(--midnight);
}

/* form styling */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-input {
  padding: 3%;
  margin: 5px 0;
  font-size: 1.3rem;
  border: 3px solid black;
  border-radius: var(--border-radius);
}

.rowz {
  background-color: var(--midnight);
  color: white;
}

#current {
  text-align: right;
}

#city-container {
  color: white;
}